<div class="flex flex-col md:flex-row">
    <section class="bg-gray-200 py-12 grow">
        <app-responsive-layout>
            <h2 class="text-2xl sm:text-3xl font-semibold mb-4">Entre em Contato</h2>
    
            Add a contact form with fields for name, email, message, etc.
        </app-responsive-layout>
    </section>
    
    <section class="py-12 grow">
        <app-responsive-layout>
            <h2 class="text-2xl sm:text-3xl font-semibold mb-4">Nossa Localização</h2>
            Display a map or address information here
        </app-responsive-layout>
    </section>
</div>